/* Ensure body and html take the full height of the viewport */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* General styles */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffaf0;
  color: #333;
}

header {
  background-color: #ff6700;
  color: white;
  padding: 10px 20px;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 15px;
  padding: 0;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links { /* Navigation links */
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

ul li a i {
  margin-right: 8px; /* Space between the icon and text */
}

ul li a:hover {
  text-decoration: underline; /* Underline on hover */
}

main {
  text-align: center;
  padding: 20px;
  flex: 1;
}

.hero img {
  width: 700;
  height: auto;
  border-radius: 8px;
}

/* ----- Form (login&register ----- */
form {
  background: white;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

form .form-group {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  background: #ff6700;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background: #e55c00;
}

footer {
  background: #ff6700;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

/* ----- About ----- */
.about {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 70px;
}

/* ----- Featured ----- */

.featured {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 70px;
}

/* ----- Get in touch ----- */

.in-touch {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 60px;
}

.row {
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
}

.feat-column {
  flex-basis: 31%;
  background: #feead7;
  border-radius: 10px;
  padding: 20px 12px;
  margin-bottom: 5%;
  box-sizing: border-box;
  transition: 0.5s;
}

.feat-column img {
  width: 100%;
  border-radius: 10px;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px 0;
}

.feat-column:hover {
  box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
  .feat-column {
    margin-bottom: 5%;
  }
}